define service{
        name                            daily-service           ; The name of this service template
        use                             generic-service         ; Inherit default values from the generic-service definition
        normal_check_interval           1440                    ; Check the service every 1440 minutes under normal conditions
        notification_interval           720                     ; Re-notify about service problems twice a day
        register                        0                       ; DONT REGISTER THIS DEFINITION - ITS NOT A REAL SERVICE, JUST A TEMPLATE!
}

define service{
        name                            notify-in-morning-service           ; The name of this service template
        use                             generic-service         ; Inherit default values from the generic-service definition
        normal_check_interval           60                      ; Check the service every 60 minutes under normal conditions
        notification_interval           25                     ; Re-notify about service problem every 25 minute
        notification_period             mornings
        register                        0                       ; DONT REGISTER THIS DEFINITION - ITS NOT A REAL SERVICE, JUST A TEMPLATE!
}

define timeperiod{
	timeperiod_name		mornings
	alias			Mornings			; Your notification interval probably has to be less than 30 minutes.
	sunday			10:00-10:30			; Every Sunday of every week
	monday			09:05-09:35
	tuesday			09:05-09:35
	wednesday		09:05-09:35
	thursday		09:05-09:35
	friday			09:05-09:35
	saturday		10:00-10:30
	}


{% if nagios_host_groups is defined %}
{% for host_group in nagios_host_groups %}
{% if host_group.checks is defined %}
{% for check in host_group.checks %}
define service {
  {% if check.service_name is defined %} 
  use  {{ check.service_name }};
  {% else %}
  use  local-service;
  {% endif %}
  hostgroup_name  {{host_group.name}};
  service_description  {{check.description}};
  check_command  {{check.command}};
}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}



{% for host_name in nagios_hosts %}
{% if host_name.checks is defined %}
{% for check in host_name.checks %}
define service {
  {% if check.service_name is defined %} 
  use  {{ check.service_name }};
  {% else %}
  use  local-service;
  {% endif %}
  host_name {{host_name.name}};
  service_description {{check.description}};
  check_command {{check.command}};
}
{% endfor %}
{% endif %}
{% endfor %}

